In [1]:
import math
import itertools

import pandas as pd
from sqlalchemy.sql import select

from predict_aqi.load_data import (
    AirLocation, get_db_session, load_air_location_data, load_measurement_data,
    load_nearby_locations, AirMeasurement
)

/opt/conda/lib/python3.5/site-packages/sqlalchemy/dialects/postgresql/base.py:2503: SAWarning: Did not recognize type 'geometry' of column 'coordinates'
  (attype, name))

In [2]:
session = get_db_session()
s = select([AirLocation])
print("# places total {}".format(len(list(session.execute(s)))))
s = select([AirLocation]).where(AirLocation.en_country_name == None)
print("# places with None country name {}".format(len(list(session.execute(s)))))
s = select([AirLocation]).where(AirLocation.en_country_name.contains('China'))
print("# China {}".format(len(list(session.execute(s)))))
s = select([AirLocation]).where(AirLocation.en_country_name.contains('India'))
print("# India {}".format(len(list(session.execute(s)))))

# places total 3846
# places with None country name 1428
# China 940
# India 70

In [3]:
s = select([AirLocation]).where(AirLocation.en_city_name.contains("Xi'an"))
center_of_china_city_id = list(session.execute(s))[0]['id']
print("{} cities within 2200km of Xi'an (includes most of China, mongolia, some of southeast asia, korea, and japan)".format(len(load_nearby_locations(center_of_china_city_id, 2200))))

1170 cities within 2200km of Xi'an (includes most of China, mongolia, some of southeast asia, korea, and japan)

In [4]:
s = select([AirLocation]).where(AirLocation.en_city_name.contains("Nagpur"))
center_of_india_city_id = list(session.execute(s))[0]['id']
print("{} cities within 1500km of Nagpur".format(len(load_nearby_locations(center_of_india_city_id, 1500))))

583 cities within 1500km of Nagpur

In [15]:
for i in range(100, 105):
    print("{} measurements for a single location".format(len(load_measurement_data(i))))

37656 measurements for a single location

37584 measurements for a single location

37650 measurements for a single location

37661 measurements for a single location

37674 measurements for a single location

In [33]:
print(load_measurement_data(110)[1000:1100])

           id             measurement_datetime  aqi
1000  2191653 2016-02-14 13:39:52.583368+00:00  104
1001  2193809 2016-02-14 14:09:51.839324+00:00  132
1002  2196001 2016-02-14 14:39:52.200313+00:00  132
1003  2198160 2016-02-14 15:09:52.235176+00:00  151
1004  2200351 2016-02-14 15:39:51.328592+00:00  151
1005  2202541 2016-02-14 16:09:51.945945+00:00  152
1006  2204737 2016-02-14 16:39:51.489899+00:00  152
1007  2206920 2016-02-14 17:09:52.092272+00:00  144
1008  2209138 2016-02-14 17:39:51.909793+00:00  132
1009  2211305 2016-02-14 18:09:52.089035+00:00  132
1010  2213490 2016-02-14 18:39:51.851868+00:00  132
1011  2215707 2016-02-14 19:09:52.084409+00:00  122
1012  2217890 2016-02-14 19:39:52.317328+00:00  122
1013  2220106 2016-02-14 20:09:52.556921+00:00  112
1014  2222291 2016-02-14 20:39:51.975039+00:00  107
1015  2224474 2016-02-14 21:09:51.746465+00:00  107
1016  2226659 2016-02-14 21:39:52.182883+00:00  107
1017  2228830 2016-02-14 22:09:52.230303+00:00  104
1018  2231011 2016-02-14 22:39:52.214867+00:00  104
1019  2233210 2016-02-14 23:09:52.185034+00:00  109
1020  2235392 2016-02-14 23:39:52.168987+00:00  109
1021  2237572 2016-02-15 00:09:51.994109+00:00  107
1022  2239769 2016-02-15 00:39:52.299165+00:00  107
1023  2241966 2016-02-15 01:09:52.030664+00:00  109
1024  2244169 2016-02-15 01:39:52.203542+00:00  109
1025  2246361 2016-02-15 02:09:51.770710+00:00  109
1026  2248560 2016-02-15 02:39:51.822729+00:00  109
1027  2250729 2016-02-15 03:09:52.765674+00:00  119
1028  2252935 2016-02-15 03:39:52.488216+00:00  119
1029  2255113 2016-02-15 04:09:51.779997+00:00  119
...       ...                              ...  ...
1070  2345096 2016-02-16 00:39:54.215321+00:00   65
1071  2347287 2016-02-16 01:09:53.996518+00:00   63
1072  2349490 2016-02-16 01:39:54.508677+00:00   63
1073  2351673 2016-02-16 02:09:54.457666+00:00   61
1074  2353874 2016-02-16 02:39:54.683646+00:00   61
1075  2356044 2016-02-16 03:09:54.218687+00:00   70
1076  2358230 2016-02-16 03:39:53.956987+00:00   78
1077  2360399 2016-02-16 04:09:54.239340+00:00   78
1078  2362585 2016-02-16 04:39:54.062708+00:00   78
1079  2364729 2016-02-16 05:09:54.350688+00:00   85
1080  2366913 2016-02-16 05:39:53.436465+00:00   85
1081  2369067 2016-02-16 06:09:55.746460+00:00   87
1082  2371263 2016-02-16 06:39:52.720461+00:00   87
1083  2373453 2016-02-16 07:09:53.110836+00:00   80
1084  2375629 2016-02-16 07:39:53.116012+00:00   80
1085  2377830 2016-02-16 08:09:52.799543+00:00   74
1086  2380064 2016-02-16 08:39:53.498354+00:00   68
1087  2382239 2016-02-16 09:09:54.008097+00:00   68
1088  2384418 2016-02-16 09:39:53.281949+00:00   68
1089  2386608 2016-02-16 10:09:54.055005+00:00   68
1090  2388793 2016-02-16 10:39:53.753407+00:00   68
1091  2390974 2016-02-16 11:09:53.644063+00:00   68
1092  2393173 2016-02-16 11:39:56.650662+00:00   68
1093  2395343 2016-02-16 12:09:56.213235+00:00   76
1094  2397561 2016-02-16 12:39:54.548550+00:00   76
1095  2399702 2016-02-16 13:09:53.420798+00:00   91
1096  2401922 2016-02-16 13:39:54.183169+00:00   91
1097  2404065 2016-02-16 14:09:53.498106+00:00  114
1098  2406238 2016-02-16 14:39:52.782437+00:00  139
1099  2408409 2016-02-16 15:09:52.722749+00:00  139

[100 rows x 3 columns]